
<div> 

  <mat-table [dataSource]="movies" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title  </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="studio">
      <mat-header-cell *matHeaderCellDef> Studio </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.studio }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="income">
      <mat-header-cell *matHeaderCellDef> Weekend Income </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.income }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button (click) = "toDelete(element)"> Delete Movie</button>
      </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

</div>
<mat-form-field>
  <mat-select placeholder="Select a Studio" [(value)]="studio" (selectionChange)="toFilter()">
    <mat-option *ngFor="let s of studios" [value]="s">
      {{s}}
    </mat-option>
  </mat-select>
</mat-form-field>  

<div style = "text-align: center; padding-top: 40px; width: 80%">The movie you deleted is: {{ name }}</div>

<!----for ex 3 only
  <table><b>
    <td>id</td>
    <td>title</td>
    <td>Studio</td>
    <td>Weekend income</td></b>
  </table>
  <table mat-table [dataSource]="movies" class="mat-elevation-z8"></table>





  <br><br><br><br><br><br><br><br>
<div>The movie you deleted is: {{name}}</div>


  <movie *ngFor = "let movie of movies" [data]="movie"> </movie>
-->
  